{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Google Places Syncs plugin for Craft CMS 3.x
 *
 * GooglePlacesSync Field Input
 *
 * @author    Ben Norman
 * @copyright Copyright (c) 2020 Ben Norman
 * @link      https://www.headjam.com.au
 * @package   CraftGooglePlaces
 * @since     1.0.0
 */
#}

{%- set dataSyncing = value.id ?? false or value.lookup ?? false -%}

{% import "_includes/forms" as forms %}
<div class="matrix matrix-field">
  <div class="blocks">
    <div class="matrixblock">
      <div class="fields">
        {{
          forms.textField({
            label: 'Google Places Lookup',
            instructions: 'The lookup to query Google Places for an ID. Can be a business name, address, or international-formatted phone number.',
            id: 'lookup',
            name: name ~ '[lookup]',
            value: value.lookup ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Google Places ID',
            instructions: 'The ID to query Google Places for data. If blank, the system will try to retrieve an ID based on the Google Lookup value above.',
            id: 'id',
            name: name ~ '[id]',
            value: value.id ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Name',
            instructions: 'The name of the business.',
            id: 'name',
            name: name ~ '[name]',
            placeholder: 'Test',
            value: value.name ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Address',
            instructions: 'The physical address of the business, with commas creating new lines when rendered.',
            id: 'address',
            name: name ~ '[address]',
            placeholder: 'Test',
            value: value.address ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Phone',
            instructions: 'The phone number of the business.',
            id: 'phone',
            name: name ~ '[phone]',
            placeholder: 'Test',
            value: value.phone ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Website',
            instructions: 'The website of the business.',
            id: 'website',
            name: name ~ '[website]',
            placeholder: 'Test',
            value: value.website ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Google Url',
            instructions: 'The Google url for maps and reviews.',
            id: 'googleUrl',
            name: name ~ '[googleUrl]',
            placeholder: 'Test',
            value: value.googleUrl ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Coordinates',
            instructions: 'If alternate coordinates are supplied below, this will be ignored..',
            id: 'coordinates',
            name: name ~ '[coordinates]',
            placeholder: 'Test',
            value: value.coordinates ?? ''
          })
        }}

        {%- set weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] -%}
        {% set hoursVal = (value.hours ?? false) is iterable ? value.hours : weekdays|map(day => {label: day, hours: ''}) %}
        {{
          forms.editableTableField({
            label: 'Hours',
            instructions: 'The business open hours.',
            id: 'hours',
            name: name ~ '[hours]',
            cols: {
              label: {
                heading: 'Label',
                handle: 'label',
                type: 'singleline'
              },
              hours: {
                heading: 'Hours',
                handle: 'hours',
                type: 'singleline'
              }
            }|filter,
            rows: hoursVal|map(hour => {label: hour.label ?? '', hours: hour.hours ?? '' }),
            maxRows: '7',
            minRows: '0'
          })
        }}

        {{
          forms.lightswitchField({
            label: 'Hide reviews?',
            instructions: 'Optionally hide Google reviews for this directory item',
            id: 'hideReviews',
            name: name ~ '[hideReviews]',
            on: value.hideReviews ?? false
          })
        }}
      </div>
    </div>
  </div>
</div>
