{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Google Places Syncs plugin for Craft CMS 3.x
 *
 * GooglePlacesSync Field Input
 *
 * @author    Ben Norman
 * @copyright Copyright (c) 2020 Ben Norman
 * @link      https://www.headjam.com.au
 * @package   CraftGooglePlaces
 * @since     1.0.0
 */
#}

{%- set dataSyncing = value.id is defined or value.lookup is defined -%}
{%- set recordData = dataSyncing ? syncPlacesData({
  id: value.id ?? null,
  lookup: value.lookup ?? null
}) : null -%}

{% import "_includes/forms" as forms %}
<div class="matrix matrix-field">
  <div class="blocks">
    <div class="matrixblock">
      <div class="fields">
        {{
          forms.textField({
            label: 'Google Places Lookup',
            instructions: 'The lookup to query Google Places for an ID. Can be a business name, address, or international-formatted phone number.',
            id: 'lookup',
            name: name ~ '[lookup]',
            value: value.lookup ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Google Places ID',
            instructions: 'The ID to query Google Places for data. If blank, the system will try to retrieve an ID based on the Google Lookup value above.',
            id: 'placeId',
            name: name ~ '[placeId]',
            value: value.placeId ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Name',
            instructions: 'The name of the business.',
            id: 'name',
            name: name ~ '[name]',
            placeholder: recordData.name ?? '',
            value: value.name ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Address',
            instructions: 'The physical address of the business, with commas creating new lines when rendered.',
            id: 'address',
            name: name ~ '[address]',
            placeholder: recordData.address ?? '',
            value: value.address ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Phone',
            instructions: 'The phone number of the business.',
            id: 'phone',
            name: name ~ '[phone]',
            placeholder: recordData.phone ?? '',
            value: value.phone ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Website',
            instructions: 'The website of the business.',
            id: 'website',
            name: name ~ '[website]',
            placeholder: recordData.website ?? '',
            value: value.website ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Google Url',
            instructions: 'The Google url for maps and reviews.',
            id: 'googleUrl',
            name: name ~ '[googleUrl]',
            placeholder: recordData.googleUrl ?? '',
            value: value.googleUrl ?? ''
          })
        }}

        {{
          forms.textField({
            label: 'Coordinates',
            instructions: 'If alternate coordinates are supplied below, this will be ignored..',
            id: 'coordinates',
            name: name ~ '[coordinates]',
            placeholder: recordData.coordinates ?? '',
            value: value.coordinates ?? ''
          })
        }}

        {{
          forms.editableTableField({
            label: 'Google Hours',
            instructions: 'The business open hours from Google.',
            id: 'googleHours',
            name: 'googleHours',
            cols: {
              label: {
                heading: 'Label',
                handle: 'label',
                type: 'singleline'
              },
              hours: {
                heading: 'Hours',
                handle: 'hours',
                type: 'singleline'
              }
            }|filter,
            rows: (recordData.hours ?? [])|map(hour => {label: hour.label ?? '', hours: hour.hours ?? '' }),
            static: true,
            maxRows: '7',
            minRows: '0',
          })
        }}

        {%- set hoursVal = value.hours is defined and value.hours is iterable ? value.hours : [] -%}
        {{
          forms.editableTableField({
            label: 'Override Hours',
            instructions: 'The business open hours to show instead of the Google-reported hours.',
            id: 'hours',
            name: name ~ '[hours]',
            cols: {
              label: {
                heading: 'Label',
                handle: 'label',
                type: 'singleline'
              },
              hours: {
                heading: 'Hours',
                handle: 'hours',
                type: 'singleline'
              }
            }|filter,
            rows: hoursVal|map(hour => {label: hour.label ?? '', hours: hour.hours ?? '' }),
            maxRows: '7',
            minRows: '0',
            allowAdd: true,
            allowReorder: true,
            allowDelete: true,
          })
        }}

        {{
          forms.lightswitchField({
            label: 'Hide reviews?',
            instructions: 'Optionally hide Google reviews for this directory item',
            id: 'hideReviews',
            name: name ~ '[hideReviews]',
            on: value.hideReviews ?? false
          })
        }}
      </div>
    </div>
  </div>
</div>
